@using DeutschAktiv.Web.ViewModels
@model ClubDto

<div class="row club">
    <div class="col-sm-12 wow fadeInDown">
        <div class="pull-left club-photo hidden-sm hidden-xs" style="background-image: url('@Model.ImageUrl')"></div>
        <div class="club-title">
            <h1>@Model.Title</h1>
            <span>@Model.Subtitle</span>
            <div>
                <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Contacts">Записаться в клуб</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 wow fadeInDown">
        <div class="club-content">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>

