
@{
    ViewBag.Title = "О нас";
    Layout = "_Layout";
}
<section id="about-us">
    <div class="container">
        <div class="team">
            <div class="center wow fadeInDown">
                <h2>Наша команда</h2>
                <p class="lead">Краткое описание нашей команды</p>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/man1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Братенькова Олеся</h4>
                                <h5>Основатель и организатор разговорного клуба</h5>
                            </div>
                        </div><!--/.media -->
                        <p>Das Erlernen der Fremdsprachen muss spannend sein.</p>
                    </div>
                </div><!--/.col-lg-4 -->
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/man3.jpg" alt=""></a>
                            </div>

                            <div class="media-body">
                                <h4>Лучко Лев</h4>
                                <h5>Основатель и ведущий разговорного клуба</h5>
                            </div>
                        </div><!--/.media -->
                        <p>Jede Fremdsprache muss aktiv gesprochen werden.</p>
                    </div>
                </div>
            </div> <!--/.row -->
            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
            </div> <!--skill_border-->

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/man2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Захарьянц Ирина</h4>
                                <h5>Основатель и организатор разговорного клуба</h5>
                            </div>
                        </div><!--/.media -->
                        <p>Wenn keine Fremdsprache spricht, kennt seine Muttersprache nicht.</p>
                    </div>
                </div><!--/.col-lg-4 -->
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/img/man4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Eric Woydte </h4>
                                <h5>Ведущий разговорного клуба</h5>
                            </div>
                        </div><!--/.media -->
                        <p>Das Deutsche ist eine bedeutende Kulturnation, wie Russland, aufgrund seiner bedeutenden Schriftsteller ( Göthe, Schiller, Thomas Mann, ...). Durch meine Erfahrungen, russische Literatur im original zu lesen, bin ich der Überzeugung, dass für den Zugang zur jeweiligen Kultur die Literatur in seiner Originalsprache zu lesen, wichtig ist.</p>
                    </div>
                </div>
            </div>	<!--/.row-->
        </div><!--section-->
    </div>
</section>