
@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/slider/bgi1.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Разговорные клубы Deutsch Aktiv объединяют любителей немецкого языка разных уровней и возрастов!</h1>
                                <h2 class="animation animated-item-2">Общение с носителем языка в непринужденной дружеской атмосфере, что может быть лучше? Присоединяйтесь! Отличная возможность практики языка в приятной компании!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/slider/bgi2.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Разговорные клубы Deutsch Aktiv объединяют любителей немецкого языка разных уровней и возрастов!</h1>
                                <h2 class="animation animated-item-2">Общение с носителем языка в непринужденной дружеской атмосфере, что может быть лучше? Присоединяйтесь! Отличная возможность практики языка в приятной компании!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/slider/bgi3.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Разговорные клубы Deutsch Aktiv объединяют любителей немецкого языка разных уровней и возрастов!</h1>
                                <h2 class="animation animated-item-2">Общение с носителем языка в непринужденной дружеской атмосфере, что может быть лучше? Присоединяйтесь! Отличная возможность практики языка в приятной компании!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature" >
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Отзывы</h2>
            <p class="lead">Участники разговорного клуба Deutsch Aktiv всегда рады поделиться <br/> своими впечатлениями от наших немецких встреч!</p>
        </div>

        <div class="row feature-wrap">
            <div class="col-sm-6 media testimonial-inner">
                <div class="pull-left">
                    <img class="img-responsive img-circle" src="~/img/review1.png">
                </div>
                <div class="media-body">
                    <h3>Отличный клуб! Много интересных тем и встречи ведут носители языка из Германии!</h3>
                </div>
            </div>
            <div class="col-sm-6 media testimonial-inner">
                <div class="pull-left">
                    <img class="img-responsive img-circle" src="~/img/review4.png">
                </div>
                <div class="media-body">
                    <h3>Самое главное - позитивно и разнообразно! Это сейчас редкость!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 media testimonial-inner">
                <div class="pull-left">
                    <img class="img-responsive img-circle" src="~/img/review3.png">
                </div>
                <div class="media-body">
                    <h3>Замечательная душевная атмосфера! Прекрасная возможность потренировать и улучшить именно разговорный язык.</h3>
                </div>
            </div>
            <div class="col-sm-6 media testimonial-inner">
                <div class="pull-left">
                    <img class="img-responsive img-circle" src="~/img/review2.png">
                </div>
                <div class="media-body">
                    <h3>Атмосфера располагает к общению, в клубе вы сможете не только подтянуть уровень языка, но и хорошо провести время!</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Мероприятия</h2>
            <p class="lead">
                Мы всегда рады видеть Вас на наших дополнительных неформальных мероприятиях! <br/>
                Сочетаем полезное с приятным: говорим по-немецки и общаемся в дружеской компании!
            </p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/img/meetup/weihnachten/1.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Weihnachten</a> </h3>
                            <p>24.12.2015</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/img/meetup/weihnachten/2.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Weihnachten</a></h3>
                            <p>24.12.2015</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/img/meetup/grillen/1.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Grillen im Park</a></h3>
                            <p>13.06.2016</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/img/meetup/meisterschaft/1.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Europameisterschaft</a></h3>
                            <p>05.07.2016</p>
                        </div>
                    </div>
                </div>
            </div>


        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Разговорные клубы немецкого языка</h2>
            <p class="lead">Преодолевайте языковой барьер и совершенствуйте разговорную речь <br/> с носителями языка из Германии в нашем клубе!</p>
        </div>

        <div class="row">
@*            clubTile(clubs)*@
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->


@*<section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Наши партнеры</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="@routes.Assets.versioned("images/partners/partner1.png")"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="@routes.Assets.versioned("images/partners/partner2.png")"></a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->*@
}

