@{
    ViewBag.Title = "Разговорные клубы";
    Layout = "_Layout";
}

<section class="pricing-page">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Разговорные клубы немецкого языка</h2>
            <p class="lead">При обучении на курсах посещение разгворных клубов бесплатно!</p>
        </div>
        <div class="text-center">
            <div class="row club">
                <div class="col-sm-12 wow fadeInDown">
                    <div class="pull-left club-photo hidden-sm hidden-xs" style="background-image: url('/img/clubs/speak.jpg')"></div>
                    <div class="club-title">
                        <h1>Разговорный клуб</h1>
                        <span>Тематические дискуссии с носителями языка.</span>
                        <div>
                            <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Contacts">Записаться в клуб</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 wow fadeInDown">
                    <div class="club-content">
                        <p>
                            Каждую пятницу мы организуем встречу клуба. Это прекрасная возможность общаться на немецком языке с носителем и сломать языковой барьер, познакомиться с интересными людьми и перевести свой пассивный словарный запас в активный.<br/>
                        </p>
                        <p>
                            Если вы хотите не только изучать немецкий, но и одновременно весело и активно проводить время, то эта группа для вас!<br/>
                            Здесь нет скучных учебников и домашних заданий, занудной грамматики и зубрежки. Мы собираемся вместе, чтобы говорить на немецком языке, слушать и понимать всё лучше и лучше. Мы обсуждаем темы, события, играем в игры и разгадываем загадки. Мы пьем чай и едим сладости, рассказываем о себе и делимся мнениями, и, конечно, шутим и смеемся.<br/>
                        </p>
                        <p>
                            Наш разговорный клуб дает практику общения немецкого языка, помогает преодолеть языковой барьер и совершенствовать разговорную речь, поддерживать уровень знаний немецкого языка. Вы учитесь слушать и понимать немецкую речь, изучаете языковые особенности, приобретаете новые знания и увеличиваете свой словарный запас.<br/>
                            Ведущие нашего клуба – интересные и харизматичные носители языка из Германии!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row club">
                <div class="col-sm-12 wow fadeInDown">
                    <div class="pull-left club-photo hidden-sm hidden-xs" style="background-image: url('/img//clubs/film.jpg')"></div>
                    <div class="club-title">
                        <h1>Киноклуб</h1>
                        <span>Смотрим фильмы на немецком языке.</span>
                        <div>
                            <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Contacts">Записаться в клуб</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 wow fadeInDown">
                    <div class="club-content">
                        <p>
                            Благодаря просмотру кинокартин в нашем клубе вы научитесь воспринимать немецкий язык на слух,
                            расширите свой словарный запас и приятно проведете время в дружеской обстановке.
                        </p>
                        <p>
                            Не секрет, что просмотр кинофильмов на изучаемом языке является хорошим подспорьем в обучении.
                            На наших киносеансах мы устраиваем просмотры как классических фильмов на немецком языке, так и следим за новинками.
                            Мы не только наслаждаемся происходящим на экране, но и разбираем нужные и интересные слова и фразы из кинофильмов,
                            ну и, конечно, делимся своими впечатлениями после просмотра, конечно, все происходит на немецком и часто в окружении носителей языка!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row club">
                <div class="col-sm-12 wow fadeInDown">
                    <div class="pull-left club-photo hidden-sm hidden-xs" style="background-image: url('/img/clubs/excursion.jpg')"></div>
                    <div class="club-title">
                        <h1>Экскурсии</h1>
                        <span>Загородные поездки и общение на немецком языке.</span>
                        <div>
                            <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Contacts">Записаться в клуб</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 wow fadeInDown">
                    <div class="club-content">
                        <p>
                            Кто не любит прогулки по городу, да к тому же выезды на природу в Подмосковье и другие города?
                            Чтобы сделать поездку интересной, полезной и познавательной Deutsch Aktiv организует экскурсии на немецком языке!
                        </p>
                        <p>
                            Мы гуляем по городу в сопровождении гидов, рассказывающих о достопримечательностях на немецком языке.
                            Также выезжаем на выходные в такие города, как Суздаль, Владимир и другие.
                            Вы получаете возможность провести время в дружной компании, интересующейся языком, а также попрактиковать свои навыки говорения.
                        </p>
                        <p>
                            А на двухдневных языковых погружениях в пансионате под городом Троицк всех ждет увлекательная программа с носителем языка из Германии:
                            совместные групповые экскурсии, занятия спортом на немецком, в том числе настольным теннисом, посиделки вечером на веранде за чашкой чая за непринужденной беседой на немецком -
                            и все это в перерывах между интенсивным языковым обучением!
                        </p>
                        <p>
                            Все подробности о наборе групп на выездные экскурсии по телефону 8-903-536-60-56.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

