@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@using DeutschAktiv.Web.ViewModels
@model IEnumerable<ClubDto>

@{
    ViewBag.Title = "Разговорные клубы";
    Layout = "_Layout";
}

<section class="pricing-page">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Разговорные клубы немецкого языка</h2>
            <p class="lead">При обучении на курсах посещение разгворных клубов бесплатно!</p>
        </div>
        <div class="text-center">
            @foreach (var club in @Model)
            {
                @Html.Partial("ClubDetails", club)
            }
        </div>
    </div>
</section>
@Html.Partial("_BottomLinks")
