@using DeutschAktiv.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model IList<CourseDto>
@{
    ViewBag.Title = "Курсы немецкого языка";
    Layout = "_Layout";
}

<section class="pricing-page">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Курсы немецкого языка</h2>
            <p class="lead">При обучении на курсах посещение разгворных клубов бесплатно!</p>
        </div>
        <div class="pricing-area text-center">
            <div class="row">
                @for (var i = 0; i < Model.Count; i++)
                {
                    if (i < 5)
                    {
                        Model[i].ColumnClass = "col-sm-6 col-md-3";
                    }
                    else
                    {
                        Model[i].ColumnClass = "col-sm-4";
                    }
                    if (i == Model.Count - 1)
                    {
                        <div class="col-sm-4 plan price-level-custom wow fadeInDown"></div>
                    }
                    @Html.Partial("CourseDetails", Model[i])
                }


            </div>
        </div><!--/pricing-area-->
    </div><!--/container-->
</section>
@Html.Partial("_BottomLinks")