@using Microsoft.AspNetCore.Mvc.Rendering
@using DeutschAktiv.Web.ViewModels
@model IEnumerable<ClubDto>
@{
    ViewBag.Title = "Мастер-классы";
    Layout = "_Layout";
}

<section class="pricing-page">
    <div class="container">
        <div class="center wow fadeInDownfi">
            <h2>Мастер-классы</h2>
            <p class="lead">Deutsch Aktiv представляет новый формат встреч на немецком языке</p>
        </div>
        @foreach (var masterClass in Model)
        {
            @Html.Partial("MasterClassDetails", masterClass)
        }
    </div>
</section>
@Html.Partial("_BottomLinks")