@using DeutschAktiv.Web.ViewModels
@model ClubDto

<div class="row wow fadeInDown">
    <div class="col-sm-4 column">
        <img src="@Model.ImageUrl" alt="Мастер-класс">
    </div>
    <div class="col-sm-8 column">
        @Html.Raw(Model.Description)
    </div>
</div>
<div class="row wow fadeInDown">
    <div class="col-sm-4 price-master text-center">
        <h2>Стоимость мастер-класса - @Model.Price <i class="fa fa-rub"></i></h2>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Contacts">Записаться на мастер-класс</a>
    </div>
</div>