@using System.Collections.Generic
@using DeutschAktiv.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<ScheduleItemDto>
@{
    ViewBag.Title = "Расписание мероприятий";
    Layout = "_Layout";
}

<section id="schedule" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Расписание мероприятий</h2>
            <p class="lead">Выбирайте лучшие решения для изучения немецкого языка</p>
        </div>
        @foreach (var scheduleItem in @Model)
        {
            @Html.Partial("ScheduleItem", scheduleItem)
        }
    </div><!--/.container-->
</section><!--/#services-->
@Html.Partial("_BottomLinks")
