@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewBag.Title = "Расписание мероприятий";
    Layout = "_Layout";
}

<section id="schedule" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Расписание мероприятий</h2>
            <p class="lead">Выбирайте лучшие решения для изучения немецкого языка</p>
        </div>

    </div><!--/.container-->
</section><!--/#services-->
@Html.Partial("_BottomLinks")
